#!/usr/bin/make -f
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- \
	  -DCMAKE_BUILD_TYPE=RelWithDebInfo \
	  -DCMAKE_INSTALL_PREFIX=/usr \
	  -DFILE_SUPPORT=ON \
	  -DIWINFO_SUPPORT=ON \
	  -DSYS_SUPPORT=ON \
	  -DUCODE_SUPPORT=OFF

override_dh_auto_install:
	dh_auto_install --destdir=$(CURDIR)/debian/tmp

	install -d debian/tmp/usr/include/rpcd
	install -m 0644 include/rpcd/plugin.h debian/tmp/usr/include/rpcd/plugin.h
	install -m 0644 include/rpcd/session.h debian/tmp/usr/include/rpcd/session.h
	install -m 0644 include/rpcd/exec.h debian/tmp/usr/include/rpcd/exec.h

override_dh_installsystemd:
	# Install the unit but don't auto-enable/start
	dh_installsystemd --name=rpcd --no-enable --no-start
